h1
{padding:1%;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color:white;

}
p{
    text-align:center;
    font-size: 20px;
    color:white;
}
.center{
    text-align:center;
}
.f1{
    background-image:url(im.jpg);
    height:30%;
    background-size: 100% 50%; 
    background-repeat: no-repeat;
    background-size: cover;
}
.f2{
    text-align:center;
    padding:1.5%;
    font-size:30px;
    font-weight: bold;
    background-color: rgb(231, 227, 227);
}
.f3{
    display:flex;
    padding: 2.5%;
    justify-content: center;
   background-color:rgb(231, 227, 227);
   font-size:20px;
   
}
.f4{margin:0.5%;}
.f5{margin:0.5%;}
#f6{
    display:flex;
    background-color:black;
    padding: 5%;
    justify-content: center;
}
.f7 
{background-color:white ;
    color:black;
flex:1;
margin: 10px;
width:170px;
height:400px;
}
.f7 h2{
text-align: center;
font-size: 30px;
}
.f7 p{
    color:black;
}
.f8 
{background-color: white;
    color:black;
flex:1;
margin: 10px;}
.f8 h3{
    text-align: center;
    font-size:30px;
    }
    .f8 p{
        color:black;
    }
.f9
{background-color: white;
    color:black;
flex:1;
margin: 10px;}
.f9 h4{
    text-align: center;
    font-size: 30px;;
    }
    .f9 p{
        color:black;
    }
    .f10{
        text-align:center;
        padding:1.5%;
        font-size:30px;
        font-weight: bold;
        background-color: rgb(247, 247, 247);
    }
    .f11{
        text-align:center;
       background-color:rgb(247, 247, 247);
       font-size:20px;
       
    }
    .f12{
        display:flex;
   padding: 5px;
    }
    .f13{
        flex:1;
        background-color: rgb(50, 161, 212);
        color:white;
    }
    .f13 h5{
        text-align: center;
        font-size: 30px;
        }
        .one{
            color:white;
            text-align:center;
        }
        .two{
            color:white;
            text-align: center;
        }
        .f14{
            flex:1;
            background-color: rgb(117, 126, 131);
            color:white;
        }
        .f14 h6{
            text-align: center;
            font-size: 30px;
            }
            .three{
                color:white;
                text-align: center;
            }
            .f15{
                display:flex;
                padding:3%;
                background-color: black;

            }
            .f16{
                flex:1;
                color:white;
            }
            .f17{
                flex:1;
            }
            .six{
                color:white;
            }
            
           
            